In [2]:
import numpy as np
import numpy.linalg as nlg
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
from scipy.stats import bartlett
from factor_analyzer import FactorAnalyzer
import warnings 

warnings.filterwarnings('ignore')

In [8]:
data = pd.read_excel('../../dataset/factor_analysis_dataset/student_score.xlsx')
score_data = data.copy()
score_data = score_data.set_index('姓名')
print('原始数据:\n')
score_data.head()

原始数据:

    语文    数学  英语    政治    历史    物理    化学
姓名
小明  82  83.1  87  73.8  92.4  80.1  76.5
小李  77  90.0  82  69.3  88.9  87.0  82.0
小张  57  84.4  62  51.3  74.9  81.4  77.5
小王  53  84.0  58  47.7  72.1  81.0  77.2
小陈  83  89.7  88  74.7  93.1  86.7  81.7

In [18]:
# 根据相关系数判断是否可进行因子分析
score_corr = score_data.corr()
score_corr
bartlett(*list(score_corr.to_numpy()))

BartlettResult(statistic=1.8565631968139748e-05, pvalue=0.9999999999999999)