In [1]:
# 数据读取
import pandas as pd

staff_data = pd.read_excel('../../dataset/员工离职预测.xlsx')

In [6]:
# 数据概况
staff_data.head()
staff_data.shape
staff_data.info()
staff_data.describe().round(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   工资      15000 non-null  object
 1   满意度     15000 non-null  float64
 2   考核得分    15000 non-null  float64
 3   工程数量    15000 non-null  int64
 4   月工时     15000 non-null  int64
 5   工龄      15000 non-null  int64
 6   离职      15000 non-null  int64
dtypes: float64(2), int64(4), object(1)
memory usage: 820.4+ KB

            满意度      考核得分      工程数量       月工时        工龄        离职
count  15000.00  15000.00  15000.00  15000.00  15000.00  15000.00
mean       6.13      0.72      3.80    201.05      3.50      0.24
std        2.49      0.17      1.23     49.94      1.46      0.43
min        0.90      0.36      2.00     96.00      2.00      0.00
25%        4.40      0.56      3.00    156.00      3.00      0.00
50%        6.40      0.72      4.00    200.00      3.00      0.00
75%        8.20      0.87      5.00    245.00      4.00      0.00
max       10.00      1.00      7.00    310.00     10.00      1.00

In [16]:
# y值标签概况
label_over = staff_data['离职'].value_counts()

# 标签重命名
label_over = label_over.reset_index().rename(index={0:'label_y', 1:'label_n'}, columns={'index':'离职', '离职':'num'})
label_over['prct'] = label_over['num'] /  len(staff_data)
label_over

         离职    num      prct
label_y   0  11428  0.761867
label_n   1   3572  0.238133

In [26]:
# 特征相关系数
staff_df = staff_data.replace({'工资':{'低':'0', '中':'1', '高':'1'}})
corr = staff_df.drop(columns=['离职']).corr(method='pearson').round(4)

# 目标变量
y = staff_data['离职']
X = staff_df.drop(columns='离职')

In [29]:
# 划分训练集和测试集
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, _y_test = train_test_split(X, y, test_size=0.2, random_state=123)