#### 信贷反欺诈模型的开发实现与场景应用

In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

pd.set_option('float_format', lambda x: '%.6f' % x)
pd.set_option('Display.max_rows',None)#展示全部行
pd.set_option('Display.max_columns',None)

In [2]:
df = pd.read_excel('../../dataset/AutiFraud/data_base.xlsx')

df.head()

,ID,Y,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20
0,NO0001,0,203,18,7,11,188,6368,199,1393,237,1,0.000000,21,72.000000,188.000000,0.000000,4.000000,215.000000,0.013900,229.000000,77.000000
1,NO0002,0,0,4,1,0,19,149,53,144,20,0,0.000000,42,19.000000,245.000000,0.000000,9.000000,261.000000,0.018600,26.000000,26.000000
2,NO0003,0,0,0,0,0,12,25,15,24,12,0,0.000000,36,51.000000,263.000000,1.000000,18.000000,140.000000,0.032800,807.000000,493.000000
3,NO0004,0,2,0,0,0,16,123,11,24,18,0,0.000000,26,25.000000,381.000000,1.000000,83.000000,346.000000,0.038800,160.000000,55.000000
4,NO0005,0,24,89,7,1,106,3915,106,672,122,1,0.000000,25,59.000000,1374.000000,6.000000,0.000000,1399.000000,0.000000,1846.000000,624.000000

In [26]:
df.shape
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20000 non-null  object
 1   Y       20000 non-null  int64
 2   X01     20000 non-null  int64
 3   X02     20000 non-null  int64
 4   X03     20000 non-null  int64
 5   X04     20000 non-null  int64
 6   X05     20000 non-null  int64
 7   X06     20000 non-null  int64
 8   X07     20000 non-null  int64
 9   X08     20000 non-null  int64
 10  X09     20000 non-null  int64
 11  X10     20000 non-null  int64
 12  X11     19989 non-null  float64
 13  X12     20000 non-null  int64
 14  X13     19989 non-null  float64
 15  X14     19989 non-null  float64
 16  X15     19989 non-null  float64
 17  X16     19989 non-null  float64
 18  X17     19989 non-null  float64
 19  X18     19989 non-null  float64
 20  X19     19599 non-null  float64
 21  X20     19599 non-null  float64
dtypes: float64(9), int64(12), object(1)
memory usage: 3.4+ MB

,Y,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,19989.000000,20000.000000,19989.000000,19989.000000,19989.000000,19989.000000,19989.000000,19989.000000,19599.000000,19599.000000
mean,0.031150,47.385750,12.277850,4.276750,1.953000,97.300750,1290.514200,108.730450,482.174450,115.688400,1.720150,0.221422,29.559200,55.625644,505.039071,1.075842,91.737656,407.175497,0.013589,513.355630,224.583958
std,0.173727,68.852541,23.394412,6.144530,4.220223,80.311606,1796.334529,113.091440,510.715059,98.537836,6.979152,0.508483,7.028141,29.398077,400.397417,1.417235,3492.131781,405.710515,0.033815,728.794280,314.075215
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,13.000000,54.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,0.000000,6.000000,1.000000,1.000000,0.000000,35.000000,170.000000,39.000000,109.000000,41.000000,0.000000,0.000000,24.000000,35.000000,247.000000,0.000000,0.000000,146.000000,0.000000,94.000000,55.000000
50%,0.000000,23.000000,4.000000,2.000000,1.000000,82.000000,619.000000,81.000000,339.000000,94.000000,0.000000,0.000000,28.000000,50.000000,397.000000,1.000000,0.000000,300.000000,0.000000,260.000000,132.000000
75%,0.000000,61.000000,14.000000,5.000000,2.000000,138.000000,1709.000000,138.000000,684.250000,162.000000,1.000000,0.000000,34.000000,69.000000,632.000000,2.000000,17.000000,533.000000,0.016900,637.500000,278.000000
max,1.000000,960.000000,590.000000,97.000000,98.000000,1105.000000,36307.000000,1329.000000,6514.000000,1267.000000,357.000000,3.000000,55.000000,516.000000,6261.000000,10.000000,469412.000000,9112.000000,0.778900,15068.000000,10054.000000

In [3]:
# 统计Y值的分类数量并重新命名
label = df['Y'].value_counts()
label = label.reset_index()
label = label.rename(index={0:'label_1', 1:'label_2'}, columns={'index':'Y', 'Y': 'num'})
label['prct'] = label['num'] / len(df)
label

         Y    num     prct
label_1  0  19377 0.968850
label_2  1    623 0.031150

In [4]:
# 缺失值处理
df['X11'] = df['X11'].fillna(df['X11'].mean())
df['X13'] = df['X13'].fillna(df['X13'].mean())
df['X14'] = df['X14'].fillna(df['X14'].mean())
df['X15'] = df['X15'].fillna(df['X15'].mean())
df['X16'] = df['X16'].fillna(df['X16'].mean())
df['X17'] = df['X17'].fillna(df['X17'].mean())
df['X18'] = df['X18'].fillna(df['X18'].mean())
df['X19'] = df['X19'].fillna(df['X19'].mean())
df['X20'] = df['X20'].fillna(df['X20'].mean())
df.isnull().sum()

ID     0
Y      0
X01    0
X02    0
X03    0
X04    0
X05    0
X06    0
X07    0
X08    0
X09    0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
dtype: int64

In [5]:
# 特征相关系数：pearson系数
corr = df.drop(columns=['ID', 'Y']).corr(method='pearson').round(4)
corr

,X01,X02,X03,X04,X05,X06,X07,X08,X09,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20
X01,1.000000,0.662500,0.749300,0.750200,0.740600,0.492000,0.733000,0.738700,0.791400,0.179900,0.012300,-0.001500,0.332400,0.097200,-0.013400,0.023100,0.099800,-0.013700,0.117600,0.081600
X02,0.662500,1.000000,0.774600,0.574900,0.562200,0.475100,0.551900,0.599700,0.578400,0.132400,0.000100,-0.017500,0.294200,0.076500,-0.001400,0.011200,0.066400,-0.020100,0.106700,0.071300
X03,0.749300,0.774600,1.000000,0.704100,0.667200,0.432400,0.692800,0.654200,0.697100,0.158300,-0.014200,-0.063100,0.329000,0.058200,-0.005300,0.024400,0.066800,-0.019300,0.095100,0.077500
X04,0.750200,0.574900,0.704100,1.000000,0.503800,0.341200,0.700000,0.567200,0.541300,0.183200,-0.019400,0.001300,0.309700,0.083900,-0.012400,0.021400,0.074300,-0.014100,0.111100,0.067600
X05,0.740600,0.562200,0.667200,0.503800,1.000000,0.605500,0.644500,0.806500,0.989200,0.160200,0.042200,-0.050900,0.338600,0.188000,-0.007300,0.017400,0.187500,-0.040000,0.170000,0.150700
X06,0.492000,0.475100,0.432400,0.341200,0.605500,1.000000,0.491200,0.760600,0.586600,0.186600,0.034900,-0.090500,0.320800,0.186900,-0.010600,0.030700,0.146600,-0.019800,0.261600,0.133000
X07,0.733000,0.551900,0.692800,0.700000,0.644500,0.491200,1.000000,0.784900,0.661500,0.260200,-0.006200,-0.081700,0.330400,0.102300,0.001300,0.016700,0.114300,-0.039800,0.095700,0.086200
X08,0.738700,0.599700,0.654200,0.567200,0.806500,0.760600,0.784900,1.000000,0.796900,0.246600,0.026100,-0.100600,0.337700,0.150600,-0.000700,0.021400,0.143500,-0.040300,0.170800,0.139200
X09,0.791400,0.578400,0.697100,0.541300,0.989200,0.586600,0.661500,0.796900,1.000000,0.164700,0.038700,-0.038500,0.338900,0.170200,-0.009700,0.019500,0.173600,-0.034800,0.159100,0.138100
X10,0.179900,0.132400,0.158300,0.183200,0.160200,0.186600,0.260200,0.246600,0.164700,1.000000,0.008600,-0.024800,0.098700,0.038400,-0.008500,-0.001200,0.035900,-0.007700,0.043800,0.034100
X11,0.012300,0.000100,-0.014200,-0.019400,0.042200,0.034900,-0.006200,0.026100,0.038700,0.008600,1.000000,0.009600,0.212100,-0.002300,0.017200,-0.004000,-0.009900,-0.002700,0.037100,0.011600
X12,-0.001500,-0.017500,-0.063100,0.001300,-0.050900,-0.090500,-0.081700,-0.100600,-0.038500,-0.024800,0.009600,1.000000,-0.037300,0.099000,-0.028000,0.015700,0.051400,0.029600,-0.056700,-0.082100
X13,0.332400,0.294200,0.329000,0.309700,0.338600,0.320800,0.330400,0.337700,0.338900,0.098700,0.212100,-0.037300,1.000000,0.194200,0.017700,-0.013000,0.175200,-0.122400,0.249700,0.186800
X14,0.097200,0.076500,0.058200,0.083900,0.188000,0.186900,0.102300,0.150600,0.170200,0.038400,-0.002300,0.099000,0.194200,1.000000,-0.055500,0.023600,0.811300,-0.127200,0.214800,0.169800
X15,-0.013400,-0.001400,-0.005300,-0.012400,-0.007300,-0.010600,0.001300,-0.000700,-0.009700,-0.008500,0.017200,-0.028000,0.017700,-0.055500,1.000000,-0.003100,-0.032800,-0.038700,0.002300,0.011900
X16,0.023100,0.011200,0.024400,0.021400,0.017400,0.030700,0.016700,0.021400,0.019500,-0.001200,-0.004000,0.015700,-0.013000,0.023600,-0.003100,1.000000,0.024400,0.316300,0.005300,-0.003000
X17,0.099800,0.066400,0.066800,0.074300,0.187500,0.146600,0.114300,0.143500,0.173600,0.035900,-0.009900,0.051400,0.175200,0.811300,-0.032800,0.024400,1.000000,-0.123900,0.141100,0.145000
X18,-0.013700,-0.020100,-0.019300,-0.014100,-0.040000,-0.019800,-0.039800,-0.040300,-0.034800,-0.007700,-0.002700,0.029600,-0.122400,-0.127200,-0.038700,0.316300,-0.123900,1.000000,-0.017100,-0.049400
X19,0.117600,0.106700,0.095100,0.111100,0.170000,0.261600,0.095700,0.170800,0.159100,0.043800,0.037100,-0.056700,0.249700,0.214800,0.002300,0.005300,0.141100,-0.017100,1.000000,0.641200
X20,0.081600,0.071300,0.077500,0.067600,0.150700,0.133000,0.086200,0.139200,0.138100,0.034100,0.011600,-0.082100,0.186800,0.169800,0.011900,-0.003000,0.145000,-0.049400,0.641200,1.000000